@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
// font-family: 'Gothic A1', sans-serif;
body {
    font-family: "Gothic A1", sans-serif;
}
a:hover {
    color: #2997ff !important;
}
.navbar {
    background: hsl(0, 2%, 20%);
    height: 44px;
    li:first-child {
        padding: 0;
    }
    .nav-item:nth-child(2) a.nav-link.hide-item {
        transition-delay: 0.6s;
    }
    .nav-item:nth-child(3) .nav-link.hide-item {
        transition-delay: 0.6s;
    }
    .nav-item:nth-child(4) .nav-link.hide-item {
        transition-delay: 0.5s;
    }
    .nav-item:nth-child(5) .nav-link.hide-item {
        transition-delay: 0.4s;
    }
    .nav-item:nth-child(6) .nav-link.hide-item {
        transition-delay: 0.3s;
    }
    .nav-item:nth-child(7) .nav-link.hide-item {
        transition-delay: 0.2s;
    }
    .nav-item:nth-child(8) .nav-link.hide-item {
        transition-delay: 0.1s;
    }
    .nav-item:nth-child(9) .nav-link.hide-item {
        transition-delay: 0.1s;
    }
    .nav-item:nth-child(10) .nav-link.hide-item {
        transition-delay: 0.1s;
    }

    .nav-item:nth-child(2) a.nav-link {
        transition-delay: 0.2s;
    }
    .nav-item:nth-child(3) .nav-link {
        transition-delay: 0.3s;
    }
    .nav-item:nth-child(4) .nav-link {
        transition-delay: 0.4s;
    }
    .nav-item:nth-child(5) .nav-link {
        transition-delay: 0.5s;
    }
    .nav-item:nth-child(6) .nav-link {
        transition-delay: 0.6s;
    }
    .nav-item:nth-child(7) .nav-link {
        transition-delay: 0.6s;
    }
    .nav-item:nth-child(8) .nav-link {
        transition-delay: 0.6s;
    }
    .nav-item:nth-child(10) .nav-link {
        transition-delay: 0.7s;
    }
    .search-form.active {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.6s;
        transform: translateX(2%);
    }
    .search-form::before {
        content: ("\f002");
        top: 12px;
        left: -25px;
        position: absolute;
        color: #fff;
        font-family: fontAwesome;
    }
    .search-form {
        position: absolute;
        top: 0;
        left: 35%;
        opacity: 0;
        visibility: hidden;
        transform: translateX(20%);
        width: 400px;
        height: 44px;
        transition: 0.7s;

        input {
            width: 100%;
            height: 44px;
            border: none;
            outline: none;
            background: transparent;
            color: #fff;
            font-size: 16px;
        }
        input::placeholder {
            color: #fff;
        }
    }

    li {
        padding-left: 60px;
        padding-top: 5px;
        .nav-link {
            transform: scale(1);
            transition: 0.5s;
            transition: 0.5s;
            display: block;
        }
        .nav-link.hide-item {
            transform: scale(0);
        }
        a {
            color: rgb(204, 201, 201) !important;
            font-size: 14px;
        }
        a:hover {
            color: #fff !important;
            transition: 0.3s !important;
        }
        i {
            font-size: 20px;
        }
        .fa-apple {
            margin-top: 4px;
        }
        .fa-search {
            font-size: 16px !important;
            margin-top: 4px;
        }
    }
    .closing {
        color: #fff;
        background: transparent;
        visibility: hidden;
        opacity: 0;
    }
    .closing.active {
        opacity: 0.8;
        visibility: visible;
    }
}
header {
    margin-top: 44px;
    height: 44px;
    background: #0071e3;
    i {
        font-size: 0.7rem;
    }
    a {
        color: #fff;
        font-size: 14px;
        margin: auto;
    }
    a:hover {
        color: #fff !important;
    }
}
.head {
    margin-bottom: 0;
    p {
        font-size: 14px;
        margin-bottom: -25px;
    }
}
#first-body {
    margin-top: -25px;
    .img-wrapper {
        background: url(../image/iphone12.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .text-wrapper {
        position: relative;
        top: 95px;
    }
    h1 {
        font-size: 50px;
        font-family: "Gothic A1", sans-serif;
        font-weight: 800;
    }
    p {
        font-size: 17px;
    }
    span a {
        font-size: 1.2rem;
        i {
            font-size: 1rem;
        }
    }
    .background-img {
        height: 500px;
    }
}

#second-body {
    margin-top: -70px;
    .img-wrapper {
        background: url(../image/iphone12pro.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .text-wrapper {
        position: relative;
        top: 95px;
    }
    h1 {
        font-size: 50px;
        font-family: "Gothic A1", sans-serif;
        font-weight: 800;
    }
    p {
        font-size: 17px;
    }
    span a {
        font-size: 1.2rem;
        i {
            font-size: 1rem;
        }
    }
    .background-img {
        height: 500px;
    }
}
#third-body {
    margin-top: -28px;
    background: #000;
    .text-wrapper {
        position: relative;
        top: 95px;
    }
    h5 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        color: red;
        font-weight: 700;
    }
    h1 {
        i {
            font-size: 50px;
        }
        font-size: 40px;
        font-family: "Gothic A1", sans-serif;
        font-weight: 800;
    }
    p {
        font-size: 17px;
    }
    span a {
        font-size: 1.2rem;
        i {
            font-size: 1rem;
        }
    }
    .background-img {
        background: url(../image/apple-watch.jpg);
        background-position: center 110px;
        background-repeat: no-repeat;
        height: 480px;
    }
}
#fourth-body {
    
    .first-col {
        .bg-color{
            background-color: #000;
        }
        // margin-left: 13px;
        // background: #000;
        i {
            font-size: 50px;
        }
        h1 {
            font-weight: 800;
            text-transform: uppercase;
        }
        p {
            font-size: 21px;
            font-weight: 600;
            margin-bottom: px;
        }
        span {
            text-transform: capitalize;
            a {
                font-size: 20px;
            }
            i {
                font-size: 1rem;
            }
        }
    }
    .second-col {
        background-color: #fbfbfd;
        // position: absolute;
        // right: 0;

        // .row.text-center.airpad {
        //     position: absolute;
        //     top: 30px;
        //     left: 220px;
        // }
    }
    .image-wrapper {
        background: url(../image/promo_tile_guy_endframe__b3ms9vrc6g5e_large.jpg);

        background-repeat: no-repeat;
        background-position: center;

        height: 465px;
    }

    .image-wrapper2 {
        background: url(../image/ipad.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 465px;
    }
}
#appstore {
    .apple-one {
        background: #fbfbfd;
        .appple-one-img {
            background: url(../image/tile__cauwwcyyn9hy_large.jpg);
            background-position: center 315px;
            background-repeat: no-repeat;
            height: 690px;
        }
    }
    .appstore-img {
        background: url(../image/appstore.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 690px;
        .row {
            padding-top: 5rem !important;
        }
        h1 i {
            font-size: 50px;
        }
        span {
            a {
                color: #000;
            }
            a:hover {
                color: #000 !important;
            }
        }
    }
}
#card {
    .card-image {
        h1 i {
            font-size: 50px;
        }
        background: url(../image/card.jpg);
        background-repeat: no-repeat;
        background-position: center 0px;
        height: 563px;
    }
    .card-image2 {
        h1 i {
            font-size: 50px;
        }
        background: url(../image/call.jpg);
        background-repeat: no-repeat;
        background-position: center 0px;

        height: 563px;
    }
}
#info {
    p {
        font-size: 13.5px;
        margin-bottom: 0.5rem !important;
    }
    .link-list {
        h6 {
            font-size: 12px;
            font-family: "Gothic A1", sans-serif;
            font-weight: 800 !important;
        }
        .nav-link {
            padding: 0.3rem;
            color: #515154;
            font-size: 0.9rem;
        }
        a:hover {
            color: #515154 !important;
            text-decoration: underline !important;
        }
    }

    hr {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .footer {
        position: relative;
        a {
            margin-right: 5px;
            padding: 0 12px;
            border-right: 1px solid rgb(100, 98, 98);
            color: #515154;
            font-size: 14px;
        }
        a:hover {
            color: #515154 !important;
        }
        a:nth-child(6) {
            border: none;
        }
        a:nth-child(7) {
            position: absolute;
            right: 0;
            top: 0;
            border: none;
        }
    }
}
